* {
    font-family: Helvetica, sans-serif;
    /* background-color: #CEC8C1;
    color: #595762; */
}

h1 {
    font-size: 50pt;
    color: black;
    align-content: center;
    margin: 0 0 10px 0;
    padding: 5px;
    text-align: center;  
  
}

a{
  align-content: center;
  text-align: center;

}

#map {
  height: 300px;
  border: royalblue;
  background-color: black;
  margin: 50px;
  
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: powderblue;
  align-content: center;
  text-align: center;
}
button:hover {
  background-color: lightgreen;
  color: black;
}
button {

  background-color:black;
  color: white;
  font-size: 12px;
  padding: 10px 10px;
  border: black;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
