<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Public Grievances</title>
    <link rel="stylesheet" href="public/site.css">
  </head>
  <body>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
