<section>
    <h1>Public Grievances</h1>
    <p>An app to help address public grievances</p>
    <form id="login-form" method="POST" action="/login">
        <label>Email</label>
        <input type="text" id="email" name="email" placeholder="Enter Email">
        <br>
        <br>
        <label>Password</label>
        <input type="password" id="password" name="password" placeholder="Enter Password">
        <br>
        <br>
        <button type="submit">Submit</button>
        <br>
        <br>
    </form>
<a href="/signup">New User? Signup here</a>
</section>
