<section>
    <a href="/signup">New User? Signup Here</a>
    <br><br>
    <a href="/login"> User Login</a>
    <br><br>
    <a href="/adminLogin"> Admin Login</a>
    <p>Please use the User Login if you dont have the Admin rights</p>

</section>