<section>
    <h1>Public Grievances</h1>
    <p>An app to help address public grievances</p>
    <a href="/login">Login Here</a>
    <br>
    <br>
    <a href="/signup">New User? Signup Here</a>
</section>
