<section>
    <p>Welcome {{sessionInfo}}</p>
    <h2>HOME PAGE !!</h2>

    <br>
    <a href="issues/createIssue">Create Issue</a>
    <br>
    <br>

    <a href="/profile"> View Your Profile</a>
    <br>
    <br>
    <a href="/ViewAllMyIssues">View All My Issues</a>
    <br>
    <br>
    <br>
    <br>

    <form id="login-form" method="GET" action="/logout">
        <button type="submit">Logout</button>
        <br>
        <br>
    </form>
</section>