<section>
     <a href="issues/createIssue">Create Issue</a>
     <form id="login-form" method="GET" action="/logout">
        <button type="submit">Logout</button>
        <br>
        <br>
    </form>
</section>
